@import "reset.css";

@font-face {
    font-family: "pre-Bold";
    src: url("./Pretendard-Bold.otf");
}
@font-face {
    font-family: "pre-Medium";
    src: url("./Pretendard-Medium.otf");
}
@font-face {
    font-family: "pre-Regular";
    src: url("./Pretendard-Regular.otf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f9fc;
    padding-top: 50px;
    font-family: "pre-Regular";
    padding: 50px 0;
}
.canvas {
    width: 700px;
    height: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls_colors .controls_color {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls .controls_colors {
    display: flex;
}
.controls {
    display: Flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.controls .controls_btns {
    margin-bottom: 30px;
}
.controls_btns button {
    all: unset;
    cursor: pointer;
    background: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
}

.controls .controls_range {
    margin-bottom: 30px;
}
#jsRange {
    color: #000;
}
#jsRange[type="range"]::-ms-track {
    background: #fff;
    border-color: transparent;
    color: transparent;
}
#jsRange[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #000;
    cursor: pointer;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
